@import "tailwindcss";

@theme {
  --color-primary: #ff235b;
  --color-background: #2c2836;
  --color-background-darker: #1a091c;
  --color-foreground: #f8f8f2;
  --color-foreground-darker: #d8d8d2;
  --color-selected: #ac9cb4;
  --color-disabled: #6272a4;
  --color-yellow: #ffcb23;
  --color-blue: #4d42ff;
  --color-green: #7aff23;

  --font-serif: Literata, Georgia, serif;
  --font-mono: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
}

@layer utilities {
  .text-yellow {
    color: var(--color-yellow);
  }

  .text-selected {
    color: var(--color-selected);
  }

  .bg-background {
    background-color: var(--color-background);
  }

  .bg-background-darker {
    background-color: var(--color-background-darker);
  }

  .border-selected {
    border-color: var(--color-selected);
  }

  & :not(pre) > code {
    padding: 0.2rem;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--foreground);
    line-height: 120%;
    font-weight: bold;
    margin: 0.83em 0;
  }

  @media (min-width: 801px) {
    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.9rem;
    }

    h3 {
      font-size: 1.55rem;
    }

    h4 {
      font-size: 1.3rem;
    }

    h5 {
      font-size: 1.1rem;
    }

    h6 {
      font-size: 1rem;
    }
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }

  pre,
  code {
    font-size: 81%;
  }
}

:root {
  --foreground: var(--color-foreground);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-foreground-darker);
  font: 115%/1.75 var(--font-serif);
}

p {
  margin: 0.75em 0;
}

#__next {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

::selection {
  background: var(--color-selected);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 0.0625rem solid var(--color-primary);
}
